@model IEnumerable<AutoBot.Models.Crane>

    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Список кранов</h1>
        </div>
    </div>

    <div class="row mt-4 mb-1 text-center">

        <div class="col-2" style="background-color: rgb(138,198,66); border: 2px solid white;">
            <div class="mt-2 mb-2">
                <span class="text-light" style="font-size: 20px">URL</span>
            </div>
        </div>

        <div class="col-2" style="background-color: rgb(138,198,66); border: 2px solid white;">
            <div class="mt-2 mb-2">
                <span class="text-light" style="font-size: 20px">Время до активации</span>
            </div>
        </div>

        <div class="col-2" style="background-color: rgb(138,198,66); border: 2px solid white;">
            <div class="mt-2 mb-2">
                <span class="text-light" style="font-size: 20px">Статус крана</span>
            </div>
        </div>

        <div class="col-2" style="background-color: rgb(138,198,66); border: 2px solid white;">
            <div class="mt-2 mb-2">
                <span class="text-light" style="font-size: 20px">Баланс на кране</span>
            </div>
        </div>

        <div class="col-2" style="background-color: rgb(138,198,66); border: 2px solid white;">
            <div class="mt-2 mb-2">
                <span class="text-light" style="font-size: 20px">Тип валюты</span>
            </div>
        </div>

        <div class="col-2" style="background-color: rgb(138,198,66); border: 2px solid white;">
            <div class="mt-2 mb-2">
                <span class="text-light" style="font-size: 20px">Тип крана</span>
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div id="Row" class="row mb-2">
            
            <div class="row-cols-12" style="display: none">
                <div><input id="URL" value="@item.URL" /></div>
                <div><input id="ActivityTime" value="@item.ActivityTime.ToString(@"hh\:mm\:ss")" /></div>
                <div><input id="StatusCrane" value="@item.StatusCrane" /></div>
                <div><input id="BalanceOnCrane" value="@item.BalanceOnCrane" /></div>
                <div><input id="TypeCurrencies" value="@item.TypeCurrencies" /></div>
                <div><input id="TypeCrane" value="@item.TypeCrane" /></div>
            </div>

            <div class="col-2 text-center" style="background-color: rgb(222,243,202); border: 2px solid white;">
                <div class="mt-2 mb-2"><span>@item.URL</span></div>
            </div>

            <div class="col-2 text-center" style="background-color: rgb(222,243,202); border: 2px solid white;">
                <div class="mt-2 mb-2"><span>@item.ActivityTime.ToString(@"hh\:mm\:ss")</span></div>
            </div>

            <div class="col-2" >
                <div class="row">
                    @Html.DropDownList("StatusCrane", new SelectList(new string[] { "Work", "NoWork", "InWork" }, item.StatusCrane), new { 
                        @class= "form-control",
                        @style = "background-color: rgb(222,243,202); border: 2px solid white; height: 44px; text-align-last: center;", 
                        @onchange = "ChangeStatus(this)"
                    })
                </div>
            </div>

            <div class="col-2 text-center" style="background-color: rgb(222,243,202); border: 2px solid white;">
                <div class="mt-2 mb-2"><span>@item.BalanceOnCrane</span></div>
            </div>

            <div class="col-2 text-center" style="background-color: rgb(222,243,202); border: 2px solid white;">
                <div class="mt-2 mb-2"><span>@item.TypeCurrencies</span></div>
            </div>

            <div class="col-2 text-center" style="background-color: rgb(222,243,202); border: 2px solid white;">
                <div class="mt-2 mb-2"><span>@item.TypeCrane</span></div>
            </div>
        </div>
    }