@model IEnumerable<AutoBot.Models.InternetService>

<div class="row">
    <div class="col-12">
        <h1 class="text-center">Ручной запуск интернет-сервисов</h1>
    </div>
</div>

<div class="row mt-4 mb-1 text-center">

    <div class="col-4" style="background-color: rgb(138,198,66); border: 2px solid white;">
        <div class="mt-2 mb-2">
            <span class="text-light" style="font-size: 20px">URL</span>
        </div>
    </div>

    <div class="col-2" style="background-color: rgb(138,198,66); border: 2px solid white;">
        <div class="mt-2 mb-2">
            <span class="text-light" style="font-size: 20px">Статус сервиса</span>
        </div>
    </div>

    <div class="col-2" style="background-color: rgb(138,198,66); border: 2px solid white;">
        <div class="mt-2 mb-2">
            <span class="text-light" style="font-size: 20px">Баланс на сервисе</span>
        </div>
    </div>

    <div class="col-2" style="background-color: rgb(138,198,66); border: 2px solid white;">
        <div class="mt-2 mb-2">
            <span class="text-light" style="font-size: 20px">Тип сервиса</span>
        </div>
    </div>

    <div class="col-2" style="background-color: rgb(138,198,66); border: 2px solid white;">
        <div class="mt-2 mb-2"></div>
    </div>
</div>

@foreach (var item in Model)
{
    @if (item.RunType != true)
    {
        continue;
    }

<div id="Row" class="row mb-2">

    <div class="row-cols-12" style="display: none">
        <div><input id="URL" value="@item.URL" /></div>
        <div><input id="Status" value="@item.StatusService" /></div>
        <div><input id="Balance" value="@item.BalanceOnService" /></div>
        <div><input id="TypeService" value="@item.TypeService" /></div>
        <div><input id="LaunchTime" value="@item.LaunchTime" /></div>
    </div>

    <div class="col-4 text-center" style="background-color: rgb(222,243,202); border: 2px solid white;">
        <div class="mt-2 mb-2"><span>@item.URL</span></div>
    </div>

    <div class="col-2">
        <div class="row">
            @Html.DropDownListFor(x => item.StatusService, 
                new SelectList(new string[] { "Work", "NoWork", "InWork", "InSleeping" }, item.StatusService), null, new
                {
                   @class = "form-control",
                   @style = "background-color: rgb(222,243,202); border: 2px solid white; height: 44px; text-align-last: center;",
                   @onchange = "ChangeStatusManualStart(this)",
                })
        </div>
    </div>

    <div class="col-2 text-center" style="background-color: rgb(222,243,202); border: 2px solid white;">
        <div class="mt-2 mb-2"><span>@item.BalanceOnService</span></div>
    </div>

    <div class="col-2 text-center" style="background-color: rgb(222,243,202); border: 2px solid white;">
        <div class="mt-2 mb-2"><span>@item.TypeService</span></div>
    </div>

    <div class="col-2" style="background-color: rgb(222,243,202); border: 2px solid white;">
        <button class="btn btn-warning btn-sm btn-block mt-1" onclick="InternetServicesManualStart(this)"><span>Старт</span></button>
    </div>
</div>
}